body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
/* BANNER */
.banner {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('moviewall.png') center/cover no-repeat;
    filter: grayscale(100%) brightness(30%); /* Maximum greyscale + darker effect */
    z-index: -1;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Dark overlay */
    z-index: -1;
}

.banner-title{
    margin-left:0.5em;
}

.linkwatchlist{
    color:white;
    margin-right:0.5em;
}

/* SEARCH BAR */

main{
    padding: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.search-bar{
    position: absolute;
    top: -0.8em;
    display: flex;
    justify-content: center;
    height: 4vh;
    margin-bottom: 2em;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #4a4a4a;
    min-height: 38px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #dadde1;
    border-radius: 20px;
    overflow: hidden;
    width: 400px; /* Adjust width as needed */
    background-color: #fff;
    color: #677385;
}

.search-icon {
    padding: 10px;
    color: #677385; /* Light grey color */
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #4a4a4a;
    flex: 2; /* Increased from 1 to 2 to make it take more space */
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #4a4a4a;
    min-width: 200px; 
    font-family: "Inter", sans-serif;
}

.search-btn {
    background: #f1f3f5;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #4a4a4a;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: "Inter", sans-serif;
}

.search-btn:hover {
    background: #e3e6e9;
}

/* WITHOUT MOVIES */

.empty-selection-body{
    display: flex;
    color:#4a4a4a;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9em;
}

.movie-icon{
    font-size: 3em;
}

.start-exploring{
    padding-right: 0;
    text-align: center;
    color:#4a4a4a;
    font-size: 1.2em;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

/* MOVIES */

h2{
    font-size: 1.2em;
    padding-right: 0.9em;
}

h3{
    font-size: smaller;
    font-weight: 500;
}

.movies-section{
    margin-top: 2em;
}

.flex{
    display: flex;
    align-items: center;    
}

.flex-center{
    justify-content: space-around;
}

.movie-img-div{
    min-width: 30vw;
}

.movie-img{
    max-width: 25vw;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.movie-text-div{
    margin-left: 2em;
}

.rating{
    display: flex;
    flex-direction: row;
}

.star{
    color:#FECA5F;
    font-size: 0.7em;
    margin-right: 0.5em;
}

.movie-details{
    gap: 1.3em;
}

.watchlist-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    border: none;
    color: #0f1419;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
}

.watchlist-btn .plus-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0f1419;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.watchlist-btn .minus-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0f1419;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.watchlist-btn:hover .plus-icon {
    background-color: #212529;
}

.movie-plot{
    color: #9095A0;
}

.one-searched-movie{
    border-bottom: 1px solid #393333;
    margin: 8px 0;
    width: 100%;
}

/* loader */
.searching-text{
color: #3498db;
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}


.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 480px) {
    .movie-text-div {
        margin-left: 0;
    }
}